<footer>
	{% include nav.html %}
	<ul class="socials">
		<li>
			<a href="https://twitter.com/stephaniesiomos" class="twitter">
				{% include twitter.svg %}
			</a>
		</li>
		<li>
			<a href="https://instagram.com/stephaniesiomos" class="instagram">
				{% include instagram.svg %}
			</a>
		</li>
		<li>
			<a href="https://linkedin.com/stephaniesiomos" class="linkedin">
				{% include linkedin.svg %}
			</a>
		</li>
		<li>
			<a href="mailto:" class="email">
				{% include email.svg %}
			</a>
		</li>
	</ul>
</footer>