<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{{ page['title'] }} &#8211; {{ site['title'] }}</title>

	<meta name="robots" content="all">
	<meta name="author" content="{{ site['Author'] }}">
	<meta name="theme-color" content="#{{ site['Theme Color'] }}">
	<meta name="description" content="{{ site['Description'] | escape }}">
	<meta name="viewport" content="width=device-width,initial-scale=1">

    <meta property="og:url" content="{{ page['url'] | absolute_url }}">
    <meta property="og:title" content="{{ page['title'] }}">
    <meta property="og:site_name" content="{{ site['title'] }}">
    <meta property="og:description" content="{{ site['Description'] | escape }}">
    <meta property="og:image" content="http://{% if page['image'] %}{{ page['image'] | absolute_url }}{% elsif page['image'] %}{{ page['image'] | absolute_url }}{% else %}{{ site['Avatar URL'] | absolute_url }}{% endif %}"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ page['url'] | absolute_url }}">
    <meta name="twitter:title" content="{{ site['title'] }}">
    <meta name="twitter:site" content="@stephaniesiomos">
    <meta name="twitter:description" content="{{ site['Description'] | escape }}">
    <meta name="twitter:image" content="http://{% if page['image'] %}{{ page['image'] | absolute_url }}{% elsif page['image'] %}{{ page['image'] | absolute_url }}{% else %}{{ site['Avatar URL'] | absolute_url }}{% endif %}"/>

	<link rel="shortcut icon" href="/static/icon.png">
	<link rel="apple-touch-icon" href="/static/icon.png">
	
	<link rel="stylesheet" href="/static/font.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i">
</head>
<!-- VIEW THE SOURCE CODE HERE: https://github.com/cjmlgrto/siomi.net -->