<header>
	<a href="/" class="logo" title="{{ site['title'] }}">
		{% include logo.svg %}
	</a>
	
	<nav>
		<ul>
			<li><a href="#" class="current">Blog</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Citations</a></li>
		</ul>
	</nav>
	
	<ul class="socials">
		<li>
			<a href="{{ site['Twitter URL'] }}" class="twitter">
				{% include twitter.svg %}
			</a>
		</li>
		<li>
			<a href="{{ site['Instagram URL'] }}" class="instagram">
				{% include instagram.svg %}
			</a>
		</li>
		<li>
			<a href="{{ site['LinkedIn URL'] }}" class="linkedin">
				{% include linkedin.svg %}
			</a>
		</li>
		<li>
			<a href="mailto:{{ site['Email Address'] }}" class="email">
				{% include email.svg %}
			</a>
		</li>
	</ul>
</header>
