<aside>
	<div class="segment">
		<img src="{{ site['Avatar URL'] }}" alt="{{ site['Author'] }}"/>
		<h3>About Me</h3>
		{{ site['Description'] | markdownify }}
	</div>
	<div class="segment">
		<h3>Categories</h3>
		<p>Browse topics like {% for category in site['categories'] %}{% if category['title'] != 'Blog' %}{% if forloop.rindex < 2 %} or {% endif %}<a href="{{ category['url'] }}"/>{{ category['title'] }}</a>{% if forloop.last != true %}, {% endif %}{% endif %}{% endfor %}.</p>
	</div>
	<div class="segment">
		<h3>Elsewhere</h3>
		<p>Find me on <a href="{{ site['Twitter URL'] }}">Twitter</a>, <a href="{{ site['LinkedIn URL'] }}">LinkedIn</a>, <a href="{{ site['Instagram URL'] }}">Instagram</a> or just send me an <a href="mailto:{{ site['Email Address'] }}">email</a>.</p>
	</div>
</aside>