<aside>
	<div class="segment">
		<img src="{{ site.icon }}" alt="{{ site.author }}"/>
		<h3>About Me</h3>
		<p>I’m Stephanie Siomos. I’m a Finance &amp; Economics student <a href="https://twitter.com/monashbusiness">@MonashBusiness</a>. I like tech. Positive-NPV.</p>
	</div>
	<div class="segment">
		<h3>Categories</h3>
		<p>Browse topics like <a href="#">Finance</a>, <a href="#">Economics</a>, <a href="#">Business</a>, <a href="#">Tech</a>, <a href="#">Advice</a>, <a href="#">Updates from Me</a>, <a href="#">Real Talk</a>, and <a href="#">Career</a>.</p>
	</div>
	<div class="segment">
		<h3>Elsewhere</h3>
		<p>Find me on <a href="https://twitter.com/{{ site.twitter }}">Twitter</a>, <a href="#">LinkedIn</a>, <a href="#">Instagram</a> or just send me an <a href="#">email</a>.</p>
	</div>
</aside>