// ------------------------------------------
// Variables
// ------------------------------------------

$font-base: 1.5;
$font-size: 100%;
$font-primary: "PT Serif", serif;
$font-secondary: "Mallory", sans-serif;

$transition: cubic-bezier(.06, .53, .41, .89);

$width-tiny: 26rem;
$width-small: 45rem;
$width-medium: 48rem;
$width-content: 64rem;
$width-gigantic: 90rem;

$color-body: #333333;
$color-titles: #000000;
$color-primary: #3B5591;
$color-secondary: #B5D2DC;
$color-background: #FFFFFF;