// ------------------------------------------
// Typography
// ------------------------------------------

a {
	color: $color-primary;
	text-decoration: none;
	transition: color .25s $transition;
	border-bottom: 1px solid $color-secondary;
}

a:hover, a:active {
	color: darken($color-secondary, 10%);
}

h1, h2, h3 {
	line-height: 1.3em;
	color: $color-titles;
}

h1 {
	font-size: 2rem;
}

h2, h3 {
	font-size: 1.5rem;
	font-weight: normal;
}

* + h1, * + h2, * + h3 {
	margin-top: 2.5rem;
}

ul, ol {
	margin-left: 1rem;
}

blockquote {
	padding-left: 1rem;
	background-size: 1px 100%;
	background-position: 0 1px;
	background-repeat: no-repeat;
	color: rgba($color-primary, .75);
	background-image: linear-gradient(to bottom, $color-secondary 0%, $color-secondary 100%);
}

hr {
	clear: both;
	height: 1px;
	width: 100%;
	border: none;
	margin: 3rem auto;
	background-color: $color-secondary;
}