/* Base Styles */
/* ---------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, ol,
h1, h2, h3,
p, blockquote, pre,
figure, img, video, audio, embed, .embed {
	max-width: 100%;
	margin-bottom: 1rem;
}

:root {
	--width-site: 1200px;
	--width-content: 720px;

	--type-primary: "PT Serif", "Georgia", serif;
	--type-secondary: "qWNHNgXEpEmhJDNFu8", "Gill Sans", "Gill Sans MS", sans-serif;
	
	--color-bg: #FFFFFF;
	--color-body: #2C333C;
	--color-meta: #87929F;
	--color-titles: #000000;
	--color-primary: #D65545;
	--color-secondary: #AF2561;
	--color-separators: #DFE3E9;
	--color-on-primary: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: #111111;
		--color-body: #D6D7D5;
		--color-meta: #555555;
		--color-titles: #FFFFFF;
		--color-separators: #232023;
		--color-on-primary: #FFFFFF;
	}
}

html {
	color: var(--color-body);
	background-color: var(--color-bg);
	font-size: 100%;
	line-height: 1.5;
	font-family: var(--type-primary);
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
	margin: 0 auto;
}

/* Typography */
/* ---------------------------------- */

::selection {
	background-color: rgba(229,114,138,.25);
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid var(--color-secondary);
	transition: all .25s cubic-bezier(.06, .53, .41, .89);;
}

a:hover {
	color: var(--color-secondary);
}

h1, h2, h3 {
	color: var(--color-titles);
	margin-bottom: 1rem;
}

h1 {
	font-size: 2rem;
	line-height: 1.25;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1rem;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: var(--type-secondary);
}

* + h1, * + h2, * + h3 {
	margin-top: 2rem;
}

h1 + h2, h2 + h3 {
	margin-top: 0;
}

article ul, article ol {
	margin-left: 1rem;
	padding-left: 1rem;
}

blockquote {
	padding-left: 2rem;
	border-left: 1px solid var(--color-secondary);
}

time {
	display: block;
	color: var(--color-primary);
	font-family: var(--type-secondary);
}

.button {
	font-family: var(--type-secondary);
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* Components */
/* ---------------------------------- */

header {
	text-align: center;
	margin: 1rem;
}

.logo {
	color: var(--color-body);
	display: block;
	max-width: 12rem;
	margin: 0 auto;
	border-bottom: none;
	transition: all 0.25s cubic-bezier(.06, .53, .41, .89);
}

.logo svg {
	width: 80%;
	margin: 0 auto;
	display: block;
}

.logo svg g {
	fill: currentColor;
}

.logo:hover {
	color: var(--color-secondary);
	-webkit-animation: disco 0.8s alternate;
	-moz-animation: disco 0.8s alternate;
	-o-animation: disco 0.8s alternate;
	animation: disco 0.8s alternate;
}

header .logo {
	margin-bottom: 1rem;
} 

nav {
	margin: 0 auto;
}

.pagination {
	border-bottom: none;
}

nav ul {
	margin: 0;
	list-style: none;
	text-align: center;
}

nav li {
	display: inline-block;
	font-size: 0.8rem;
	margin-right: 2rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: var(--type-secondary);
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	border: none;
	color: var(--color-secondary);
}

nav a:hover {
	color: var(--color-primary);
}

nav .current {
	color: var(--color-primary);
}

footer {
	padding: 1rem;
	border-top: 1px solid var(--color-separators);
} 

footer .logo {
	margin-top: 2rem;
}

/* Layout */
/* ---------------------------------- */

.headline, .featured {
	background-color: var(--color-primary);
	margin-bottom: 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.headline-meta, .featured-meta {
	padding: 2rem 1rem;
	order: 2;
}

.headline-meta h1, .featured-meta h1 {
	font-size: 2.5rem;
	color: var(--color-on-primary);
}

.headline-meta time, .featured-meta time {
	color: var(--color-on-primary);
	opacity: 0.75;
}

.headline-photo, .featured-photo {
	order: 1;
	height: auto;
	width: 100%;
	padding-top: 110%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.headline p, .featured p {
	color: var(--color-on-primary);
	opacity: 0.75;
	margin-bottom: 3rem;
	margin-top: 2rem;
}

.featured a {
	color: var(--color-on-primary);
}

.content {
	padding: 1rem;
	max-width: var(--width-content);
	margin: 0 auto;
	text-align: justify;
}

.posts {
	padding: 0 1rem;
	max-width: var(--width-site);
	margin: 0 auto;
}

.posts ul {
	list-style: none;
	margin-bottom: 0;
}

.posts li {
	margin-bottom: 4rem;
}

.preview {
	width: 100%;
	padding-top: 110%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.blurb {
	margin-top: 1rem;
}

.blurb time {
	margin-bottom: 0.75rem;
}

.blurb h1 {
	margin: 0 0 1rem;
}

.blurb a {
	color: var(--color-secondary);
}

.blurb a:hover {
	color: var(--color-primary);
}

.posts > h1 {
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 4rem;
	font-size: 2.5rem;
}

.socials {
	list-style: none;
	margin: 2rem auto;
	text-align: center;
}

.socials li {
	margin-right: 1rem;
	display: inline-block;
	vertical-align: middle;
}

.socials li:last-child {
	margin-right: 0;
}

.socials a {
	border: none;
	width: 1.5rem;
	display: block;
	color: var(--color-secondary);
}

.socials a:hover, .socials a:active {
	color: var(--color-primary);
}

.socials a svg g {
	fill: currentColor;
}

.copyright {
	color: var(--color-meta);
	font-size: 0.8em;
	margin-top: 1.5rem;
	text-align: center;
}

.copyright a {
	color: inherit;
	border-bottom-color: currentColor;
}

.category {
	font-size: 0.8rem;
	padding: 1rem;
	max-width: var(--width-content);
	margin: 0 auto;
}

.source {
	font-size: 0.8rem;
	display: inline-block;
	font-family: var(--type-secondary);
	width: 100%;
	color: var(--color-on-primary);
	opacity: 0.6;
	margin-top: 1rem;
}

.source a {
	border-bottom-color: currentColor;
}

.source a:hover {
	color: inherit;
}

/* Media Queries */
/* ---------------------------------- */

@media (min-width: 960px) {
	html {
		font-size: 112.5%;
	}
	
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 1rem;
		max-width: var(--width-site);
		margin: 0 auto;
	}
	
	header nav {
		order: 0;
		margin: 0;
		width: 33%;
	}
	
	header nav ul {
		text-align: left;
	}
	
	header .logo {
		order: 1;
		margin: 0;
		width: 33%;
	}
	
	header .socials {
		order: 2;
		margin: 0;
		width: 33%;
		text-align: right;
	}
	
	footer {
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
	
	.headline, .featured {
		flex-direction: row;
		justify-content: center;
		max-width: 1800px;
		margin: 0 auto 2rem;
	}
	
	.headline-meta, .featured-meta {
		width: 50%;
		padding: 4rem;
		order: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.headline-meta h1, .featured-meta h1 {
		font-size: 3.5rem;
	}
	
	.headline-photo, .featured-photo {
		width: 50%;
		padding-top: 55%;
		order: 2;
	}
	
	.featured {
		margin-bottom: 8rem;
	}
	
	.posts > h1 {
		font-size: 3.5rem;
	}
	
	.posts li {
		margin-bottom: 8rem;
	}
	
	.posts article {
		display: flex;
		align-items: center;
	}
	
	.preview {
		width: calc(50% - 4rem);
		padding-top: calc(50% - 4rem);
		margin-right: 4rem;
	}
	
	.blurb {
		margin-top: -2rem;
		width: calc(50% - 4rem);
	}
}


@-webkit-keyframes disco {
	0% { color: var(--color-secondary); }
	25% { color: var(--color-primary); }
	50% { color: var(--color-secondary); }
	75% { color: var(--color-primary); }
}

@-moz-keyframes disco {
	0% { color: var(--color-secondary); }
	25% { color: var(--color-primary); }
	50% { color: var(--color-secondary); }
	75% { color: var(--color-primary); }
}

@-o-keyframes disco {
	0% { color: var(--color-secondary); }
	25% { color: var(--color-primary); }
	50% { color: var(--color-secondary); }
	75% { color: var(--color-primary); }
}

@keyframes disco {
	0% { color: var(--color-secondary); }
	25% { color: var(--color-primary); }
	50% { color: var(--color-secondary); }
	75% { color: var(--color-primary); }
}