{% include head.html %}
<body>
	{% include header.html %}
	<main>
		<ul>
			{% for post in paginator['posts'] %}
				<li>
					<a href="{{ post['url'] }}" title="{{ post['title'] }}">
						<article>
							<div class="preview" style="background-image: url({{ post['image'] }});"></div>
							<div class="blurb">
								<h1>{{ post['title'] }}</h1>
								<time>{{ post['date'] | date: "%B %-d %Y" }}</time>
								<p>{{ post['excerpt'] | truncatewords: 30 | strip_html }}</p>
							</div>
						</article>
					</a>
				</li>
			{% endfor %}
		</ul>
	</main>
	{% if paginator['previous_page'] or paginator['next_page'] %}
	<nav class="pagination">
		<ul>
			{% if paginator['previous_page'] %}
			<li><a href="{{ paginator.previous_page_path }}">Newer Posts</a></li>
			{% endif %}
			{% if paginator['next_page'] %}
			<li><a href="{{ paginator.next_page_path }}">Older Posts</a></li>
			{% endif %}
		</ul>
	</nav>
	{% endif %}
	{% include footer.html %}
</body>
{% include foot.html %}