{% include head.html %}
<body>
	{% include header.html %}
	{% assign desc = content | size %}
	{% if desc > 0 %}
		<div class="featured">
			<div class="featured-meta">
				<h1>{{ page['title'] }}</h1>
			</div>
		</div>
	{% endif %}
	<main class="posts">
		<ul>
			{% assign category = page['title'] | downcase %}
			{% for post in site['posts'] %}
				{% if post['categories'][0] == category %}
					<li>
						<article>
							<div class="preview" style="background-image: url({{ post['image'] }});"></div>
							<div class="blurb">
								<time>{{ post['date'] | date: "%B %-d %Y" }}</time>
								<h1>{{ post['title'] }}</h1>
								<p>{{ post['excerpt'] | truncatewords: 20 | strip_html }}</p>
								<a href="{{ post['url'] }}" class="button">Continue Reading</a>
							</div>
						</article>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</main>
	{% include footer.html %}
</body>
{% include foot.html %}