{% include head.html %}
<body>
	{% include header.html %}
	<div class="split">
		<main>
			<ul>
				{% for post in site['posts'] %}
				{% if post['categories'][0] == page['category'] %}
					<li>
						<a href="{{ post['url'] }}" title="{{ post['title'] }}">
							<article>
								<div class="preview" style="background-image: url({{ post['image'] }});"></div>
								<div class="blurb">
									<h1>{{ post['title'] }}</h1>
									<time>{{ post['date'] | date: "%B %-d %Y" }}</time>
									<p>{{ post['excerpt'] | truncatewords: 30 }}</p>
								</div>
							</article>
						</a>
					</li>
				{% endif %}
				{% endfor %}
			</ul>
		</main>
		{% include sidebar.html %}
	</div>
	{% include footer.html %}
</body>
{% include foot.html %}