{% include head.html %}
<body>
	{% include header.html %}
	
	{% for post in site['posts'] limit:1 %}
	<div class="featured">
		<div class="featured-meta">
			<time>{{ post['date'] | date: "%B %-d %Y" }}</time>
			<h1>{{ post['title'] }}</h1>
			<p>{{ post['excerpt'] | truncatewords: 36 | strip_html }}</p>
			<a href="{{ post['url'] }}" class="button">Continue Reading</a>
		</div>
		{% if post['image'] %}
			<div class="featured-photo" style="background-image: url('{{ post['image'] }}')"></div>
		{% endif %}
	</div>
	{% endfor %}

	<main class="posts">
		<ul>
			{% for post in site['posts'] offset:1 %}
				<li>
					<article>
						<div class="preview" style="background-image: url({{ post['image'] }});"></div>
						<div class="blurb">
							<time>{{ post['date'] | date: "%B %-d %Y" }}</time>
							<h1>{{ post['title'] }}</h1>
							<p>{{ post['excerpt'] | truncatewords: 20 | strip_html }}</p>
							<a href="{{ post['url'] }}" class="button">Continue Reading</a>
						</div>
					</article>
				</li>
			{% endfor %}
		</ul>
	</main>
	{% include footer.html %}
</body>
{% include foot.html %}